:root {
    --layout-bg-color-main-page: #F1E1A6;
    --past-color: #D8C3A5;
    --present-color: #EAE7DC;
    --layout-bg-main-color: #F1E1A6;
    --layout-bg-main-gradient: radial-gradient(circle, rgba(241,225,166,1) 0%, rgba(216,195,165,1) 100%);
    --layout-text-color-light: #E85A4F;
    --layout-text-color-dark: #72716e;
    --font-style: "Convergence", sans-serif;
    --font-style-cyrillic: "Ubuntu", sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

h1 {
    cursor: default;
}

h1, h2, a {
    text-align: center;
}

