:root {
    --layout-bg-color: #333;
    --layout-text-color: white;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f7f4;
    color: #333;
}

h1 {
    cursor: default;
}

h1, h2, a {
    color: #2c7873;
    text-align: center;
}

