footer {
    background: var(--layout-bg-color-main-page);
    text-align: center;
    height: 20px;
    padding: 16px 0;
    position: relative;
    z-index: 1;
}

footer h3 {
    font-size: 16px;
    color: var(--layout-text-color-dark);
    font-family: var(--font-style);
    margin: 0;
}