@import "common.css";

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: var(--layout-bg-main-color);
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.name {
    position: fixed;
    left: 0;
    z-index: 1;
    color: var(--layout-text-color-dark);
    font-family: var(--font-style);
    font-size: 30px;
    font-weight: normal;
    margin-left: 2%;
}

h1.title {
    font-family: var(--font-style);
    font-size: 34px;
    color: var(--layout-text-color-light);
    flex: 1;
}

.control-box {
    position: fixed;
    right: 0;
    height: 60px;
    padding: 10px 0;
    z-index: 1;
    display: flex;
}

img.btn {
    cursor: pointer;
    height: 100%;
    margin: 0 10px;
    border-radius: 50%;
    transition: 0.3s;
}

img.btn:hover {
    scale: 1.08;
}

img.btn.exit {
    background: var(--layout-bg-main-color);
    background: linear-gradient(135deg, rgba(233, 128, 116, 1) 0%, rgba(232, 90, 79, 1) 100%);
}

img.btn.add-vote {
    background: var(--layout-bg-main-color);
    background: var(--enable-button-gradient);
}

img.btn.clock {
    padding: 5px;
    box-sizing: border-box;
}