@import "header.css";
@import "footer.css";

main {
    min-height: calc(100vh - 142px);
    margin-top: 90px;
    background-color: var(--layout-bg-main-color);
}

header, footer {
    background-color: var(--present-color);
}

.candidates {
    padding: 50px;
    display: flex;
    gap: 50px;
}

.candidate {
    width: 300px;
    background-color: var(--present-color);
    border-radius: 15px;
    position: relative;
    transition: 0.3s;
}

.candidate img {
    width: 74%;
    height: 300px;
    object-fit: cover;
    margin: 10px 13% 0;
    border-radius: 15px;
}

.candidate h3 {
    margin: 10px;
    text-align: center;
    color: var(--layout-text-color-light);
}

.candidate h5 {
    margin: 0 20px 20px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    color: var(--layout-text-color-dark);
    transition: 0.25s;
}

.candidate .btn-area {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    transition: 0.3s;
    width: calc(100% - 30px);
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vote-anim:hover .btn-area {
    height: 45px;
}

.vote-anim:hover h5 {
    color: var(--present-color);
}

.vote-anim:hover {
    box-shadow: 0 0 20px var(--layout-text-color-light);
}

.candidate .btn-area .btn {
    height: 70%;
    text-align: center;
    font-style: var(--font-style-cyrillic);
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background: var(--layout-bg-main-color);
    background: var(--enable-button-gradient);
    border-radius: 15px;
    cursor: pointer;
}

.chosen {
    box-shadow: 0 0 20px var(--layout-text-color-light);
}

.chosen .btn-area {
    height: 45px;
}

.chosen h5 {
    color: var(--present-color);
}

.image-btn {
    height: 22px !important;
    width: 22px !important;
    background: var(--layout-bg-main-color);
    background: var(--enable-button-gradient);
    border-radius: 50% !important;
    padding: 10px;
    margin: 0 !important;
}