@import "header.css";
@import "footer.css";

main {
    min-height: calc(100vh - 142px);
    margin-top: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

p {
    margin: 5px 0 10px;
    color: var(--layout-text-color-light);
}

.form {
    font-family: var(--font-style-cyrillic);
    background-color: #FFFAEA;
    width: 25%;
    margin: 20px 50px;
    padding: 10px 40px;
    border-radius: 15px;
    border: 8px solid var(--layout-bg-main-color);
}

.form h2 {
    font-size: 1.2em;
    margin-top: 0;
}

.form h2 .link {
    display: inline;
}

label {
    font-size: 1.3em;
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    box-sizing: border-box;
    border: none;
    font-size: 1em;
    background-color: var(--color-light-grey);
    outline: none;
}

button {
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px 20px;
    display: block;
    margin: 0 auto 16px;
    background: var(--enable-button-color);
    background: var(--enable-button-gradient);
}

button:disabled {
    background: var(--disable-button-color);
    background: var(--disable-button-gradient);
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.link {
    color: var(--text-color-count-votes);
    text-decoration: none;
    display: block;
    font-size: 1.1em;
}

.link:hover {
    color: var(--layout-text-color-light);
}